.form-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.form-group{

display:flex;

flex-direction:column;

}

input,select{

padding:12px;

border-radius:8px;

border:1px solid #ddd;

font-size:15px;

}

.predict-btn{

background:#2563eb;

color:white;

border:none;

padding:15px;

border-radius:10px;

font-size:18px;

margin-top:25px;

transition:.3s;

}

.predict-btn:hover{

background:#1d4ed8;

}